/* global properties */
*,
*::after,
*::before {
    box-sizing: border-box;

}
* {
    margin: 0px;
    padding: 0px;
}

body {
    width: 500px;
    height: auto;
    margin: 0 auto;
    padding: 5px 5px 8px;

}

h1 {
    background-color: lightblue;
    font-family: Georgia, 'Times New Roman', Times, serif;
    text-align: center;
    margin-bottom: 5px;
}
a {
    display: block;
    background-color: lightgreen;
    margin-bottom: 3px;
    text-align: center;
    font-size: 20px;
    text-decoration: none;
    
}

a:hover {
    background-color: lightcoral;
}

a:visited {
    text-decoration: none;
    font-style: none;
}

